.main-header {
	color: white;
}
.main-header .page-top {
	padding-top: 20px;
	padding-bottom: 30px;
}

.dark-noise {
	background-color: #242840;
}

.site-logo {
	background: url("../img/logo-levay@2x.png") no-repeat;
	background-size: 81px 98px;
	width: 81px;
	height: 98px;
	position: absolute;
	top: 10px;
	left: calc(50% - 49px);
	z-index: 100;
}
.bg-1, .bg-2 {
	color: white;
}
.bg-2 {
	background-color: #B18D0A;
}
.padding-bottom-half, .vpadding-half, .padding-half {
	padding-bottom: 8.5pt !important;
}