<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/levay_bootstrap_layout}" >

<head>
    <title>Játszótér - Bejárat</title>
</head>
<body>
    <div layout:fragment="page_content">
        <h1>Játszótér - Bejárat</h1>
        <div>Játék megkezdéséhez be a játékmesternek el össze kell állítania a csapatot, és ki kell osztania a belépéshez szükséges kódokat.</div>
        <div>Ha te vagy a Játékmester :) vagy megkaptad a kódot, akkor itt tudsz belépni:</div>
<!--        <a href="/login" class="btn btn-primary">Belépés</a>-->

    </div>

</body>
</html>